
/* Basics */

html, body {
    width: 100%;
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    background: white;
}
#container {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
	background: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	
}
#container2 {
    position: fixed;
    width: 340px;
    height: 483px;
    /* height: 493px; */
    top: 50%;
    left: 50%;
    margin-top: -180px;
    /* margin-top: -220px; */
    margin-left: -170px;
	background: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	
}

#register {
    width: 100%;
    margin-left: 65px;
}
#login {
    width: 100%;
    margin-left: 80px;
}
form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
p a:hover {
    color: #555;
}
input {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seriff;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
	border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
	}
input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #ccc;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #ccc;
}
input[type=text]:focus,
input[type=password]:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #ccc;
}
#lower {
    background: #ccc;
    width: 100%;
    margin-top: 20px;
    height: 64px;
	box-shadow: inset 0 0px 0px #ccc;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.check {
    margin-left: 3px;
	font-size: 11px;
    color: #ccc;
    text-shadow: 0 1px 0 #fff;
}
input[type=submit] {
    float: right;
    margin-right: 125px;
    margin-top: 14px;
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    background-color: white;
    border-radius: 30px;
    background-image: white;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    
   
}
input[type=submit]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgb(164, 164, 164)));
    background-image: -moz-linear-gradient(top left 90deg, white 0%, rgb(164, 164, 164) 100%);
    background-image: linear-gradient(top left 90deg, white 0%, rgb(164, 164, 164) 100%);
}


/* CSS LOGIN PAGE */

/* logo */

#logo {
	width: 960px;
	height: 150px;
	margin: 0px auto 30px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 5em;
	color: #1F1F1F;
	padding-top: 60px;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo a {
	font-size: 80px;
	border: none;
	background: none;
	text-decoration: none;
	color: #1F1F1F;
}

#logo p {
	text-align: center;
	font-size: 16px;
	color: #595959;
}



/* JAVASCRIPT */

span {
    display: none;
}

.error span {
    display: none;
    padding: auto;
    font-size: 40%;
    margin-left: 30px;
}

.error input {
    background-color: rgb(228, 131, 131);
}