/* CSS FRONTPAGE */


html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: rgb(0, 0, 0);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 13px;
	font-weight: 200;
	color: #454545;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #221D1D;
}

h2 {
	font-size: 3.5em;
}

p, ol, ul {
	margin-top: 10px;
}

p {
	line-height: 200%;
}

a {
	color: #2F2F2F;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img{
	max-width: 100%;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

.container{
	width: 1400px;
}



/* hp */

#hp {
	width: auto;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
}

.container {
	width: 1400px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}



/* header */

#header {
}



/* logo */

#logo {
	width: 960px;
	height: 150px;
	margin: 0px auto 30px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 5em;
	color: #1F1F1F;
	padding-top: 40px;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo a {
	font-size: 80px;
	border: none;
	background: none;
	text-decoration: none;
	color: #1F1F1F;
}



/* menu */

#menu {
	overflow: hidden;
	width: auto;
	height: 70px;
	margin: 0px 50px;
	background: #000000;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	color: #FFFFFF;
	border: none;
	transition: 300ms;
}

#menu a:hover{
	background: white;
	color: black;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}



/* page */

#page {
}



/* content */

#content {
}



/* sidebar */

#sidebar {
}



/* footer */

#footer {
	overflow: hidden;
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	border-top: 1px solid #CBCBCB;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	text-align: center;
	color: #454545;
}

#footer a {
	color: #2F2F2F;
}



/* list style 1 */

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #000000;
	border-radius: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 1px 0px 1px #5C1111;
	color: #FFFFFF;
}

#banner {
	width: 1100px;
	margin: auto;
	/* padding: 50px 50px 0px 345px */
}


@media (max-width: 1200px){
	#banner{
		width: 100%;
	}
}

#banner img {
	display: block;
	margin: auto;
	width: auto;
	max-width: 800px;
	padding-top: 40px;
}

.parent{
	display: flex;
}

.child{
	/* border: 1px solid black;
	border-radius: 5px; */
	padding: 3em;
	flex: 1;
	margin: 0 15px;
}

/* .child--bigger{
	flex: 2;
	background: blue;
} */