/* landscape */

@media print {
    
    @page {
        margin-top: 3cm;
        page-break-after: always;
    }

    body {
        background-image: none;
        background: white;
        font-family: monospace;
        font-style: normal;
        color: black;
        display: block;
    }
    #menu, #nopic {
        display: none;
        color: black;
    }
    
    h1 {
        font: 20pt monospace;
        color: black;
    }

    h2 {
        margin-top: 100px;
        font: 2.5em monospace;
        color: black;
    }
}